<%- include('../partials/header') %>
    <%- include('../partials/aside') %>
    <section id="main">
    <div id="page-header"><h1>MY SHOW POSTS</h1></div>
    <% if (posts.length) { %>
        <div class="flex-div">
            <table>
                <thead>
                    <th></th>
                    <th>VENUE</th>
                    <th>DATE</th>
                    <th>SUBMISSIONS</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <% posts.forEach(post => { %>
                        <tr>
                            <td class="button-td">
                                <form action="/posts/<%= post._id %>/view" method="GET">
                                    <button id="edit-post" type="submit">VIEW</button>
                                </form>
                            </td>
                            <td id="venue"><%= post.venue %></td>
                            <% let days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
                            <% let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'January']; %>
                            <td id="date">
                                    <%- `${days[post.date.getDay()]} &nbsp;${months[post.date.getMonth()]} &nbsp;${post.date.getDate()}, ${post.date.getFullYear()}` %>
                            </td>
                            <td id="sub"><%= post.submissions.length %></td>
                            <td class="button-td">
                                <form action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
                                    <button id="delete-post" type="submit">DELETE</button>
                                </form>
                            </td>
                            <td class="button-td">
                                <form action="/posts/<%= post._id %>/edit" method="GET">
                                    <button id="edit-post" type="submit">EDIT</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <form action="/users/home" method="GET">
                <button class="return" type="submit">RETURN TO DASHBOARD</button>
            </form>
        </div>
    <% } else { %>
        <h3>YOU CURRENTLY HAVE NO POSTS</h3>
    <% }; %>
    </section>
<%- include('../partials/footer') %>